{% extends 'layout.html' %}

{% block title %}
汎用固定カット処理を行うページです
{% endblock %}

{% block header %}
GeneralHeader
{% endblock %}

{% block content %}
<h3>・<a href="/general_add">固定カットのレコードを追加する</a></h3>
{% endblock %}

{% block serchbar %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <form class="form-group" action="general" method="POST">
        <ul class="navbar-nav">
            <li class="nav-item">
                <label for="ID">固定カットID:</label>
                <input name="ID" type="text" class="form-control" id="ID" value="{{ savelist[1] }}">
            </li>
            <li class="nav-item">
                <label for="midashi">仮見出し:</label>
                <input name="midashi" type="text" class="form-control" id="midashi" value="{{ savelist[0] }}">
            </li>
            <li class="nav-item">
                <label for="Str">一体化時文字列:</label>
                <input name="Str" type="text" class="form-control" id="Str" value="{{ savelist[2] }}">
            </li>
            <li class="nav-item pad">
                <label for="GWFlg">ＧＷ登録済み:</label>
                <br>
                {% if savelist[3]=="on" %}
                <input name="GWFlg" type="checkbox" class="form-check-input ms-auto" id="checkTab1" checked>
                {% else %}
                <input name="GWFlg" type="checkbox" class="form-check-input ms-auto" id="checkTab1">
                {% endif %}
            </li>
            <li class="nav-item pad">
                <label for="prodFlg">組版本番登録済み:</label>
                <br>
                {% if savelist[4]=="on" %}
                <input name="prodFlg" type="checkbox" class="form-check-input ms-auto" id="checkTab1" checked>
                {% else %}
                <input name="prodFlg" type="checkbox" class="form-check-input ms-auto" id="checkTab1">
                {% endif %}
            </li>
            <li class="nav-item pad">
                <label for="OTFlg">組版ＯＴ登録済み:</label>
                <br>
                {% if savelist[5]=="on" %}
                <input name="OTFlg" type="checkbox" class="form-check-input ms-auto" id="checkTab1" checked>
                {% else %}
                <input name="OTFlg" type="checkbox" class="form-check-input ms-auto" id="checkTab1">
                {% endif %}
            </li>
            <li class="nav-item pad">
                <label for="startdate">開始日時:</label>
                <input name="startdate" type="date" class="form-control" id="startdate" value="{{ savelist[6] }}">
            </li>
            <li class="nav-item pad-above">
                <h4>～</h4>
            </li>
            <li class="nav-item ">
                <label for="enddate">終了日時:</label>
                <input name="enddate" type="date" class="form-control" id="enddate" value="{{ savelist[7] }}">
            </li>
            <li class="nav-item pad pad-above">
                <button type="submit" class="btn btn-primary">検索</button>
            </li>
        </ul>
    </form>
</nav>

<script>
    $('#startdate').datepicker();
    $('#enddate').datepicker();
</script>
{% endblock %}

{% block serch_result %}
 <div class="pad">
    <p>検索結果結果
        {% if results | length > 0 %}
        ({{ results | length }}件)
        {% endif %}
    </p>
    <table class="table table-striped table-hover">
        <tr>
            <th></th>
            <th>固定カットID</th>
            <th>仮見出し</th>
            <th>一体化時文字列</th>
            <th>カラー</th>
            <th>モノクロ</th>
            <th>ＧＷ登録済</th>
            <th>組版本番登録済</th>
            <th>組版ＯＴ登録済</th>
            <th>コメント</th>
            <th>作成日時</th>
            <th>更新日時</th>
        </tr>
        {% for res in results %}
        <tr>
            <td class=table-data>
                <button onclick="location.href='general_detail/{{ res.id }}'" class="btn btn-primary">編集</button>
            </td>
            <td class=table-data>{{ res.id }}</td>
            <td class=table-data>{{ res.midashi }}</td>
            <td class=table-data>{{ res.Str }}</td>
            <td class=table-data>
                {% if ".eps" in res.colorUrl %}
                <a href="{{ url_for('download', filename=res.colorUrl) }}">ダウンロード</a></td>
                {% elif ".jpg" in res.colorUrl %}
                <img src="{{ url_for('static', filename=res.colorUrl) }}" height="50" alt="">
                {% elif ".jpeg" in res.colorUrl %}
                <img src="{{ url_for('static', filename=res.colorUrl) }}" height="50" alt="">
                {% elif ".svg" in res.colorUrl %}
                <img src="{{ url_for('static', filename=res.colorUrl) }}" height="50" alt="">
                {% else %}
                <p>なし</p>
                {% endif %}
            <td class=table-data>
                {% if ".eps" in res.monoUrl %}
                <a href="{{ url_for('download', filename=res.monoUrl) }}" download="モノクロ画像.eps">ダウンロード</a>
                {% elif ".jpg" in res.monoUrl %}
                <img src="{{ url_for('static', filename=res.monoUrl) }}" height="50" alt="">
                {% elif ".jpeg" in res.monoUrl %}
                <img src="{{ url_for('static', filename=res.monoUrl) }}" height="50" alt="">
                {% elif ".svg" in res.monoUrl %}
                <img src="{{ url_for('static', filename=res.monoUrl) }}" height="50" alt="">
                {% else %}
                <p>なし</p>
                {% endif %}
            </td>
            <td class=table-data>{{ res.GWFlg }}</td>
            <td class=table-data>{{ res.prodFlg }}</td>
            <td class=table-data>{{ res.OTFlg }}</td>
            <td class=table-data>{{ res.comment }}</td>
            <td class=table-data>{{ res.created_at }}</td>
            <td class=table-data>{{ res.updated_at }}</td>
        </tr>
         {% endfor %}
    </table>
</div>
{% endblock %}

{% block footer %}
<a href="/">トップページに戻る</a>
{% endblock %}