{% extends 'layout.html' %}

{% block title %}
汎用固定カット処理を行うページです
{% endblock %}

{% block header %}
<h4>固定カットレコード追加の画面</h4>
{% endblock %}

{% block content %}
<h3>・<a href="/general">固定カットを検索する</a></h3>
{% endblock %}

{% block serch_result %}
 <div class="pad">
    <h4>レコード追加フォーム</h4>
    <form action="/general_add" method="POST" enctype="multipart/form-data">
        <table class="table table-striped table-hover">
            <tr>
                <th>操作</th>
                <th>固定カットID</th>
                <th>仮見出し</th>
                <th>一体化時文字列</th>
                <th>カラーEPS</th>
                <th>モノクロEPS</th>
                <th>ＧＷ登録</th>
                <th>組版本番登録</th>
                <th>組版ＯＴ登録</th>
                <th>備考</th>
            </tr>
            <tr>
                <td class=table-data><button type="submit" class="btn btn-primary" width="100">追加</button></td>
                <td class=table-data><input name="id" type="text" value="{{ savelist[0] }}"></input></td>
                <td class=table-data><input name="midashi" type="text" value="{{ savelist[1] }}"></input></td>
                <td class=table-data><input name="Str" type="text" value="{{ savelist[2] }}"></input></td>
                <td class=table-data><input type="file" name="colorUrl" accept=".eps, .jpg, .jpeg, .svg" value="{{ savelist[3] }}"/></td>
                <td class=table-data><input type="file" name="monoUrl" accept=".eps, .jpg, .jpeg, .svg" value="{{ savelist[4] }}"/></td>
                <td class=table-data>
                    {% if savelist[5]=="on" %}
                    <input name="GWFlg" type="checkbox" checked></input>
                    {% else %}
                    <input name="GWFlg" type="checkbox"></input>
                    {% endif %}
                </td>
                <td class=table-data>
                    {% if savelist[6]=="on" %}
                    <input name="prodFlg" type="checkbox" checked></input>
                    {% else %}
                    <input name="prodFlg" type="checkbox"></input>
                    {% endif %}
                </td>
                <td class=table-data>
                    {% if savelist[7]=="on" %}
                    <input name="OTFlg" type="checkbox" checked></input>
                    {% else %}
                    <input name="OTFlg" type="checkbox"></input>
                    {% endif %}
                </td>
                <td class=table-data><input name="comment" type="text" value="{{ savelist[8] }}"></input></td>
            </tr>
        </table>
    </form>
    <a href='general'>back<a>
</div>
{% endblock %}

{% block footer %}
<a href="/">トップページに戻る</a>
{% endblock %}