{% extends 'layout.html' %}

{% block title %}
汎用固定カット処理を行うページです
{% endblock %}

{% block header %}
GeneralHeader
{% endblock %}

{% block content %}
<h3>・<a href="/general_add">固定カットのレコードを追加する</a></h3>
{% endblock %}

{% block serchbar %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <form class="form-group" action="general" method="POST">
        <ul class="navbar-nav">
            <li class="nav-item">
                <label for="midashi">仮見出し:</label>
                <input name="midashi" type="text" class="form-control" id="midashi">
            </li>
            <li class="nav-item">
                <label for="ID">固定カットID:</label>
                <input name="ID" type="text" class="form-control" id="ID">
            </li>
            <li class="nav-item">
                <label for="Str">一体化時文字列:</label>
                <input name="Str" type="text" class="form-control" id="Str">
            </li>
            <li class="nav-item">
                <button type="submit" class="btn btn-primary">検索</button>
            </li>
        </ul>
    </form>
</nav>
{% endblock %}

{% block serch_result %}
 <div class="container mt-4">
    <p>検索結果結果</p>
    <table class="table table-striped table-hover">
        <tr>
            <th></th>
            <th>仮見出し</th>
            <th>固定カットID</th>
            <th>一体化時文字列</th>
            <th>カラー</th>
            <th>モノクロ</th>
        </tr>
        {% for res in results %}
        <a href='general_detail/{{res.ID}}'>
            <tr>
                <td>
                    <button type="submit" class="btn btn-primary">編集</button>
                </td>
                <td>{{ res.midashi }}</td>
                <td>{{ res.ID }}</td>
                <td>{{ res.Str }}</td>
                
                <td><object type="image/svg+xml" data="static/img_color/test2.svg" height="80"></object></td>

                <!--<td><img src="static/img_color/test.jpg" height="80"></td>-->
                <td><img src="static/img_mono/test.jpg" height="80"></td>
            </tr>
        </a>
         {% endfor %}
    </table>
    <a href='general'>back<a>
</div>
{% endblock %}

{% block footer %}
<a href="/">もどる</a>
{% endblock %}