<!DOCTYPE html>
<html>
    <head>
        <title>{% block title%}{% endblock %}</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" onerror="this.onerror=null;this.href='{{ url_for('static', filename='vendor/bootstrap/5.3.0/css/bootstrap.min.css') }}';">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous" onerror="this.onerror=null;this.href='{{ url_for('static', filename='vendor/bootstrap/4.1.3/css/bootstrap.min.css') }}';">
        <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" onerror="this.onerror=null;this.src='{{ url_for('static', filename='vendor/bootstrap/5.3.0/js/bootstrap.bundle.min.js') }}';"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous" onerror="this.onerror=null;this.src='{{ url_for('static', filename='vendor/jquery/3.3.1/jquery-3.3.1.slim.min.js') }}';"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous" onerror="this.onerror=null;this.src='{{ url_for('static', filename='vendor/popper/1.14.3/popper.min.js') }}';"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous" onerror="this.onerror=null;this.src='{{ url_for('static', filename='vendor/bootstrap/4.1.3/js/bootstrap.min.js') }}';"></script>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light pad">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/">常駐イメージ変換マスタ登録・ダウンロード</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/general">汎用固定カット検索</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/senkyo">選挙処理用マスタ登録・ダウンロード</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('senkyo_person_table') }}">登録済み選挙候補者検索</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('senkyo_sendgroup_text') }}">選挙システム固定カットテーブル</a>
                </li>
            </ul>
        </nav>

        <h1 class="pad">固定カット処理アプリ</h1>
        <div class="heder pad">
            {% block header %}{% endblock %}
        </div>

        <div class="pad">
            {% block serchbar %}{% endblock %}
        </div>

        <div class="pad">
            {% block content %}{% endblock %}
        </div>

        {% block caution %}{% endblock %}
        
        <dev class="pad">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul>
                {% for message in messages %}
                <li><h4 class=not-solve>{{ message }}</h4></li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}
        </div>

        <div class=serch_result>
            {% block serch_result %}{% endblock %}
        </div>
        <div class="footer pad">
            {% block footer %}{% endblock %}
        </div>
        
    </body>
</html>