.pad {
    padding-left: 30px;
}

.pad-above {
    padding-top: 30px;
}

.not-solve {
    color: red;
}

.solve {
    color: green;
}

.table-data {
    height: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
